{% load staticfiles %}
<!DOCTYPE html PUBLIC "#">
<head>
<title>BRO.</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="{%static 'style.css' %}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{%static 'js/jquery-1.3.2.min.js' %}"></script>
<script type="text/javascript" src="{%static 'js/script.js' %}"></script>
<script type="text/javascript" src="{%static 'js/cufon-yui.js' %}"></script>
<script type="text/javascript" src="{%static 'js/arial.js' %}"></script>
<script type="text/javascript" src="{%static 'js/cuf_run.js' %}"></script>
<link rel="shortcut icon" href="{%static 'img/favicon.png' %} ">
</head>
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo">
        <h1><a href="#"><span>BRO</span>Net<small>A new way to interact with your bros.</small></a></h1>
      </div>
      <!--<div class="search">
        <form method="get" id="search" action="#">
          <span>
          <input type="text" value="Search..." name="s" id="s" />
          <input name="searchsubmit" type="image" src="images/search.gif" value="Go" id="searchsubmit" class="btn"  />
          </span>
        </form>
        <!--/searchform -->
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
      <div class="menu_nav">
        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="chat.html">BroChat</a></li>
          <li><a href="contact.html">BROadcast</a></li>
          <li><a href="yourbro.html">YourBros</a></li>
          <li><a href="logout.html">Sign out</a></li>
          
        </ul>
        <div class="clr"></div>
      </div>
      <div class="hbg"><img src="/media/{{man}}/image.jpeg" width="923" height="291" alt="" /></div>
    </div>
    <div class="content">
      <div class="content_bg">
        <div class="mainbar">
          <div class="article">
            <h2><span>Hi, {{user}}.</span></h2>
            <!--<div class="clr"></div>
            <!--<p class="post-data"><span class="date">March 16, 2018</span> &nbsp;|&nbsp; Posted by <a href="#">Owner</a> &nbsp;|&nbsp; Filed under <a href="#">templates</a>, <a href="#">internet</a></p>--><br>
            <!--<img src="images/images_1.jpg" width="613" height="193" alt="" />--><br>
            <!--<p>This is a free CSS website template by RocketWebsiteTemplates.com. This work is distributed under the <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>, which means that you are free to use it for any personal or commercial purpose provided you credit me in the form of a link back to RocketWebsiteTemplates.com.</p>
            <p class="spec"><a href="#" class="com fr">Comments (3)</a> <a href="#" class="rm fl">Read more</a></p>
            <div class="clr"></div>-->
          </div>
          <div class="article">
            <h2><span>New Notifications</span> waiting for you</h2>
            {% for c in noti %}
                    <h3 class=subtitle>{{c}}</h3>
                {% endfor %}
                <h3 class=subtitle>{{nm}} new chats</h3>
                <h3 class=subtitle>{{val}} new Bro requests.</h3>
            <div class="clr"></div>
           <!--<p class="post-data"><span class="date">March 15, 2010</span> &nbsp;|&nbsp; Posted by <a href="#">Owner</a> &nbsp;|&nbsp; Filed under <a href="#">templates</a>, <a href="#">internet</a></p>
            <img src="images/images_2.jpg" width="613" height="193" alt="" />-->
            <p>                                                                                                                                                                                                                                                    

            </p>
            <!--<p class="spec"> <a href="chat.html" class="rm fl">Chats</a></p>-->
            <br>
            <h2><span>Change your</span> BRO pic</h2>
            <form action="uplo" method="post" enctype="multipart/form-data">{% csrf_token %}
    <h3>Select image to upload:</h2>
    <br>
    <input type="file" name="f1" id="fileToUpload">
    <input type="submit" value="Upload Image" name="submit">
</form>
            <div class="clr"></div>
          </div>
          <!--<div class="pagenavi"><span class="pages">Page 1 of 2</span><span class="current">1</span><a href="#">2</a><a href="#" >&raquo;</a></div>-->
        </div>
        <div class="sidebar">
          <div class="gadget">
            <h2 class="star"><span>Notifications</span> </h2>
            <div class="clr"></div>
            <ul class="sb_menu">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="chat.html">{{nm}} new chats</a></li>
              <li><a href="received.html">{{val}} new Bro requests.</a></li>
                         </ul>
          </div>
          <div class="gadget">
            <h2 class="star"><span>Broadcast Manager</span></h2>
            <div class="clr"></div>
            <ul class="ex_menu">
              <li><a href="contact.html"> Broadcast</a><br />
                </li>
             <!-- <li><a href="http://www.templatesold.com/">New Broadcasts.</a>
               </li>
              <li><a href="http://www.imhosted.com">see old broadcasts.</a><br />
                <!--Affordable Web Hosting Provider</li>
              <li><a href="http://www.myvectorstore.com">MyVectorStore</a><br />
                Royalty Free Stock Icons</li>
              <li><a href="http://www.evrsoft.com">Evrsoft</a><br />
                Website Builder Software &amp; Tools</li>
              <li><a href="http://www.csshub.com/">CSS Hub</a><br />
                Premium CSS Templates</li>-->
            </ul>
          </div>
          <div class="gadget">
            <h2 class="star"><span>Wise Words</span></h2>
            <div class="clr"></div>
            <div class="testi">
              <p><span class="q"><img src="{%static 'images/qoute_1.gif' %}" width="20" height="15" alt="" /></span> A Bro is always entitled to do something stupid, as long as the rest of his Bros are all doing it. <span class="q"><img src="{%static 'images/qoute_2.gif' %}" width="20" height="15" alt="" /></span></p>
              <p class="title"><strong>- Baba lulz 'BRO' yolo</strong></p>
            </div>
          </div>
        </div>
        <div class="clr"></div>
      </div>
    </div>
  </div>
  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span>Bro Gallery</span></h2>
        <a href="#"><img src="{%static 'images/1.jpg' %}" width="58" height="58" alt="" /></a> <a href="#"><img src="{%static 'images/2.jpg' %}" width="58" height="58" alt="" /></a><a href="#"><img src="{%static 'images/3.jpg' %}" width="58" height="58" alt="" /></a><a href="#"><img src="{%static 'images/4.jpg' %}" width="58" height="58" alt="" /></a><a href="#"><img src="{%static 'images/5.jpg' %}" width="58" height="58" alt="" /></a><a href="#"><img src="{%static 'images/6.jpg' %}" width="58" height="58" alt="" /></a> </div>
      <div class="col c2">
        <h2><span>Broness and shwag</span></h2>
        <p>True awesomeness<br />
          Always help a bro in need.</p>
      </div>	
      <div class="col c3">
        <h2><span>About BRO.</span></h2>
        <p>Protector of Brotherhood are here This is not a cult but a  social platform to make new Bros ,meet your old bros and  yeah it is not gender specific its just that word 'bro' is cool. <a href="#">Learn more...</a></p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer_resize">
    <p class="lf">&copy; Copyright <a href="#">BROinc.</a>.</p>
    <p class="rf">Layout by 5 Bros <a href="#"><br>Bro.com</a></p>
    <div class="clr"></div>
  </div>
</div>
<div align=center>This website is made with <a href='#'>Love for bros </a></div></body>
</html>